data filter=lfs diff=lfs merge=lfs -text
parsed_disambiguation_list.csv filter=lfs diff=lfs merge=lfs -text
parsed_disambiguation_list.json filter=lfs diff=lfs merge=lfs -text
parsed_disambiguation_list_without===.csv filter=lfs diff=lfs merge=lfs -text
parsed_disambiguation_list_without===.json filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20240709-current_restored_tag.xml filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20240709-wikidump filter=lfs diff=lfs merge=lfs -text
00.ExtractProofWiki.ipynb filter=lfs diff=lfs merge=lfs -text
data/vars filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20240709-wikidump/config.txt filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20240709-wikidump/errors.log filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20240709-wikidump/index.html filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20240709-wikidump/proofwikiorg_w-20240709-current.xml filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20240709-wikidump/proofwikiorg_w-20240709-titles.txt filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20240709-wikidump/siteinfo.json filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20240709-wikidump/Special:Version.html filter=lfs diff=lfs merge=lfs -text
data/vars/parsed_def_list.pkl filter=lfs diff=lfs merge=lfs -text
data/vars/disamb_list_without===.pkl filter=lfs diff=lfs merge=lfs -text
data/vars/name_to_parsed_thm_dict.pkl filter=lfs diff=lfs merge=lfs -text
data/vars/parsed_disamb_dict_without===.pkl filter=lfs diff=lfs merge=lfs -text
data/vars/parsed_disamb_dict_with===.pkl filter=lfs diff=lfs merge=lfs -text
data/vars/parsed_thm_list.pkl filter=lfs diff=lfs merge=lfs -text
data/vars/redirects_list.pkl filter=lfs diff=lfs merge=lfs -text
data/vars/restored_tag_soup.pkl filter=lfs diff=lfs merge=lfs -text
data/vars/disamb_list_with===.pkl filter=lfs diff=lfs merge=lfs -text
data/vars/name_to_parsed_def_dict.pkl filter=lfs diff=lfs merge=lfs -text
*/*/*/* filter=lfs diff=lfs merge=lfs -text
. filter=lfs diff=lfs merge=lfs -text
proofwikiorg_w-20250205-wikidump/ filter=lfs diff=lfs merge=lfs -text
